<div class="custom-autocomplete">
    <label *ngIf="label != null">{{label}}</label>
    <mat-form-field appearance="outline">
        <input matInput id="autocompleteInput" [(ngModel)]="inputSearch" [matAutocomplete]="auto" (ngModelChange)="onFilter($event)" [formControl]="myControl">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChange($event)" 
        (opened)="opened()">
            <ng-container *ngIf="getLoading(); else loading">
                <mat-option *ngFor="let op of options" [value]="op" >
                    {{op[field]}}
                </mat-option>
                <mat-option *ngIf="isEmpty()">
                    Nenhum resultado foi encontrado.
                </mat-option>
            </ng-container>

            <ng-template #loading>
                <mat-option disabled>
                    <div style="display:flex">
                        <span>Carregando...</span>
                        <span>
                            <mat-progress-spinner color="primary" mode="indeterminate" diameter="15"></mat-progress-spinner>
                        </span>
                    </div>
                </mat-option>
            </ng-template>
        </mat-autocomplete>
    </mat-form-field>
</div>