<p-growl [(value)]="msgs"></p-growl>

<p-panel header="Informações Pessoais" 
        [toggleable]="true" 
        [style]="{'margin-bottom':'20px', 'width':'100%'}"
        [collapsed]="false">
    <div class="ui-g form-group">
        <div class="ui-lg-12">
            <label>Nome Completo:</label>
            <input type="text" 
                    [(ngModel)]="element.nome"
                    pInputText 
                    style="width: 100%"
                    [ngClass]="isCampoInvalido('nome')?'invalidField':''"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>CPF:</label>
            <input type="text" 
                    [(ngModel)]="element.cpf"
                    pInputText 
                    style="width: 100%"
                    [ngClass]="isCampoInvalido('cpf')?'invalidField':''"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>RG:</label>
            <input type="text" 
                    [(ngModel)]="element.rg"
                    pInputText 
                    style="width: 100%"
                    [ngClass]="isCampoInvalido('rg')?'invalidField':''"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>Data de Nascimento:</label>
            <p-calendar [(ngModel)]="element.dataNascimento" 
                    dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    [style]="{'width':'100%'}"
                    [locale]="br"
                    [showButtonBar]="true"
                    [inputStyle]="{'width':'calc(100% - 34px)'}"></p-calendar>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>CEP:</label>
            <div>
                <div class="ui-lg-7 ui-md-7" style="padding: 0; float: left;">
                    <input type="text" 
                            [(ngModel)]="element.cep"
                            pInputText 
                            style="width: 100%"
                            [ngClass]="isCampoInvalido('cpf')?'invalidField':''"/>
                </div>
                <div class="ui-lg-5 ui-md-5" style="padding: 0; float: left;">
                    <button (click)="buscarCEP()" 
                            pButton type="button" 
                            [disabled]="desabilitarBotaoBuscaCep()" 
                            label="Buscar CEP"
                            class="form-button"
                            title="Buscar CEP"></button>
                </div>
            </div>
        </div>
        <div class="ui-lg-8 ui-md-12">
            <label>Endereço:</label>
            <input type="text" 
                    [(ngModel)]="element.endereco"
                    pInputText 
                    style="width: 100%"
                    [ngClass]="isCampoInvalido('endereco')?'invalidField':''"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>Complemento:</label>
            <input type="text" 
                    [(ngModel)]="element.complemento"
                    pInputText 
                    style="width: 100%"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>Bairro:</label>
            <input type="text" 
                    [(ngModel)]="element.bairro"
                    pInputText 
                    style="width: 100%"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>Cidade:</label>
            <input type="text" 
                    [(ngModel)]="element.cidade"
                    pInputText 
                    style="width: 100%"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
            <label>E-mail:</label>
            <input type="text" 
                    [(ngModel)]="element.email"
                    pInputText 
                    style="width: 100%"/>
        </div>
        <div class="ui-lg-3 ui-md-4">
            <label>Telefone:</label>
            <input type="text" 
                    [(ngModel)]="element.telefone"
                    pInputText 
                    style="width: 100%"/>
        </div>
        <div class="ui-lg-3 ui-md-4">
            <label>Celular:</label>
            <input type="text" 
                    [(ngModel)]="element.celular"
                    pInputText 
                    style="width: 100%"/>
        </div>
    </div>
</p-panel>