@charset "UTF-8";

.ui-widget {
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 15px
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 15px;
}

.ui-widget :active {
  outline: none;
}

.ui-widget-content {
  border: 1px solid var(--claro);
  background-color: var(--gelo);
  color: var(--escuro);
}

.ui-widget-header {
  font-weight: bold;
  color: var(--gelo);
  font-size: 1.1em;
}

.ui-widget-header a {
  color: var(--gelo);
  background-color: var(--azules);
  border: none;
}

.ui-widget-overlay {
  background-color: var(--fundo);
  opacity: .50;
  filter: Alpha(Opacity=50);
}

.ui-state-default {
  border: 1px solid var(--fundo);
  background-color: var(--fundo);
  color: var(--gelo);
}

.ui-state-default a {
  color: var(--gelo);
  background-color: initial;
}

.ui-state-active {
  border-color: var(--escuro);
  background-color: var(--azulcl);
  color: var(--gelo);
}

.ui-state-active a {
  color: var(--claro);
}

.ui-state-highlight {
  border-color: var(--gelo);
  background-color: var(--azulcl);
}

.ui-state-highlight a {
  color: var(--azulcl);
}

.ui-state-focus {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-state-focus a {
  color: var(--claro);
}

.ui-state-error {
  border-color: var(--error);
  background-color: var(--error);
  color: var(--escuro);
}

.ui-state-error a {
  color: var(--escuro);
}

.ui-state-disabled, .ui-widget:disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
  cursor: default !important;
}

.ui-state-disabled *, .ui-widget:disabled * {
  cursor: default !important;
}

/* Forms */

.ui-inputtext {
  background-color: var(--white);
  color: var(--escuro);
}

.ui-inputtext:enabled:hover {
  border-color: var(--escuro);
}

.ui-inputtext.ui-state-focus, .ui-inputtext:focus {
  outline: 0 none;
  border-color: var(--escuro);
  -moz-box-shadow: 0px 0px 5px var(--escuro);
  -webkit-box-shadow: 0px 0px 5px var(--escuro);
  box-shadow: 0px 0px 5px var(--escuro);
}

.ui-inputgroup .ui-inputgroup-addon {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-inputgroup .ui-inputgroup-addon:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ui-inputgroup .ui-inputgroup-addon:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-inputgroup .ui-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ui-inputgroup .ui-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-float-label input.ng-dirty.ng-invalid~label {
  color: var(--escuro);
}

.ui-autocomplete .ui-autocomplete-multiple-container:not(.ui-state-disabled):hover {
  border-color: var(--escuro);
}

.ui-autocomplete .ui-autocomplete-multiple-container:not(.ui-state-disabled).ui-state-focus {
  border-color: var(--escuro);
}

.ui-chips>ul:not(.ui-state-disabled):hover {
  border-color: var(--escuro);
}

.ui-chips>ul:not(.ui-state-disabled).ui-state-focus {
  border-color: var(--escuro);
}

.ui-button:focus, .ui-button:enabled:hover, .ui-fileupload-choose:not(.ui-state-disabled):hover {
  outline: 0 none;
  color: var(--claro);
}

.ui-button:focus a, .ui-button:enabled:hover a, .ui-fileupload-choose:not(.ui-state-disabled):hover a {
  color: var(--claro);
}

.ui-button:enabled:active, .ui-fileupload-choose:not(.ui-state-disabled):active {
  border-color: var(--escuro);
  background-color: var(--azulcl);
  color: var(--claro);
}

.ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-dropdown .ui-dropdown-clear-icon {
  color: #888888;
}

.ui-dropdown:not(.ui-state-disabled):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-dropdown:not(.ui-state-disabled):hover a {
  color: var(--claro);
}

.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-listbox .ui-listbox-header .ui-listbox-filter-container .fa {
  color: #222222;
}

.ui-listbox:not(.ui-state-disabled) .ui-listbox-item:not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-listbox:not(.ui-state-disabled) .ui-listbox-item:not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-listbox.ui-state-disabled .ui-chkbox-box:not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: #3d3d3d;
  color: var(--claro);
}

.ui-multiselect:not(.ui-state-disabled):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-multiselect:not(.ui-state-disabled):hover a {
  color: var(--claro);
}

.ui-multiselect-panel .ui-multiselect-item:not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-multiselect-panel .ui-multiselect-item:not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-multiselect-panel .ui-multiselect-close {
  color: var(--claro);
}

.ui-multiselect-panel .ui-multiselect-filter-container .fa {
  color: #222222;
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:hover a {
  color: var(--claro);
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:active {
  border-color: var(--escuro);
  background-color: var(--azulcl);
  color: var(--claro);
}

.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-paginator a {
  color: var(--claro);
}

.ui-datatable .ui-rowgroup-header a {
  color: var(--claro);
}

.ui-datatable .ui-sortable-column:not(.ui-state-active):hover {
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-datatable .ui-row-toggler {
  color: var(--claro);
}

.ui-datatable tbody.ui-datatable-hoverable-rows>tr.ui-widget-content:not(.ui-state-highlight):hover {
  cursor: pointer;
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-orderlist .ui-orderlist-item:not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-orderlist .ui-orderlist-item:not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-picklist .ui-picklist-item:not(.ui-state-disabled):not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-picklist .ui-picklist-item:not(.ui-state-disabled):not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-picklist .ui-picklist-droppoint-highlight {
  border-color: #cccccc;
  background-color: var(--claro);
  color: #ebebeb;
}

.ui-picklist .ui-picklist-droppoint-highlight a {
  color: #ebebeb;
}

.ui-picklist .ui-picklist-highlight {
  border-color: #cccccc;
  color: #ebebeb;
}

.ui-picklist .ui-picklist-highlight a {
  color: #ebebeb;
}

.ui-tree.ui-treenode-dragover {
  border-color: #cccccc;
}

.ui-tree .ui-treenode-content.ui-treenode-selectable .ui-treenode-label:not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-tree .ui-treenode-content.ui-treenode-selectable .ui-treenode-label:not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-tree .ui-treenode-content.ui-treenode-dragover {
  background-color: var(--azules);
  color: var(--claro);
}

.ui-tree.ui-tree-horizontal .ui-treenode-content.ui-treenode-selectable .ui-treenode-label:not(.ui-state-highlight):hover {
  background-color: inherit;
  color: inherit;
}

.ui-tree.ui-tree-horizontal .ui-treenode-content.ui-treenode-selectable:not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-tree.ui-tree-horizontal .ui-treenode-content.ui-treenode-selectable:not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-organizationchart .ui-organizationchart-node-content.ui-organizationchart-selectable-node:not(.ui-state-highlight):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-organizationchart .ui-organizationchart-node-content.ui-organizationchart-selectable-node:not(.ui-state-highlight):hover a {
  color: var(--claro);
}

.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
  color: var(--claro);
}

.ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-fieldset.ui-fieldset-toggleable .ui-fieldset-legend:hover a {
  color: var(--claro);
}

.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
  color: var(--gelo);
}

.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover a {
  color: var(--claro);
}

.ui-tabview .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-tabview .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a {
  color: var(--claro);
}

.ui-dialog .ui-dialog-titlebar-icon {
  color: var(--claro);
}

.ui-dialog .ui-dialog-titlebar-icon:hover {
  color: var(--azulcl);
}

.ui-sidebar .ui-sidebar-close {
  color: var(--claro);
}

.ui-sidebar .ui-sidebar-close:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-sidebar .ui-sidebar-close:hover a {
  color: var(--claro);
}

.ui-overlaypanel .ui-overlaypanel-close:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-overlaypanel .ui-overlaypanel-close:hover a {
  color: var(--claro);
}

.ui-inplace .ui-inplace-display:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-inplace .ui-inplace-display:hover a {
  color: var(--claro);
}

.ui-breadcrumb a {
  color: var(--azules);
  background-color: initial
}

.ui-menuitem .ui-menuitem-link {
  color: var(--escuro);
}

.ui-menuitem .ui-menuitem-link:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
  border-color: transparent;
}

.ui-menuitem .ui-menuitem-link:hover a {
  color: var(--claro);
}

.ui-menuitem.ui-menuitem-active>.ui-menuitem-link {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
  border-color: transparent;
}

.ui-menuitem.ui-menuitem-active>.ui-menuitem-link a {
  color: var(--claro);
}

.ui-tabmenu .ui-tabmenu-nav li:not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-tabmenu .ui-tabmenu-nav li:not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-steps .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-steps .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover a {
  color: var(--claro);
}

.ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
  border-color: var(--escuro);
}

.ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-panelmenu .ui-panelmenu-header:not(.ui-state-active):hover a {
  color: var(--claro);
}

.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  color: var(--claro);
}

.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link {
  color: var(--claro);
}

.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
  border-color: transparent;
}

.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link:hover a {
  color: var(--claro);
}

.ui-datepicker .ui-datepicker-header a {
  border: none;
  color: var(--azules);
  background-color: initial;
  font-size: 20px;
}

.ui-datepicker .ui-datepicker-header a:hover a {
  color: var(--azules);
}

.ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover {
  border-color: var(--azules);
  background-color: var(--azules);
  color: white;
}

.ui-datepicker.ui-datepicker-monthpicker .ui-datepicker-month-cell:hover {
  border-color: var(--escuro);
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-datepicker.ui-datepicker-monthpicker .ui-datepicker-month-cell:hover a {
  color: var(--claro);
}

.fc .fc-toolbar .fc-prev-button .ui-icon-circle-triangle-w {
  margin-top: .3em;
  background: none !important;
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
}

.fc .fc-toolbar .fc-prev-button .ui-icon-circle-triangle-w:before {
  content: "";
}

.fc .fc-toolbar .fc-next-button .ui-icon-circle-triangle-e {
  margin-top: .3em;
  background: none !important;
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  text-align: center;
}

.fc .fc-toolbar .fc-next-button .ui-icon-circle-triangle-e:before {
  content: "";
}

.ui-rating a {
  color: #222222;
}

.ui-organizationchart .ui-organizationchart-line-down {
  background-color: #4d4d4d;
}

.ui-organizationchart .ui-organizationchart-line-left {
  border-right: 1px solid #4d4d4d;
}

.ui-organizationchart .ui-organizationchart-line-top {
  border-top: 1px solid #4d4d4d;
}

.ui-organizationchart .ui-organizationchart-node-content {
  border-color: #4d4d4d;
}

.ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
  color: #4d4d4d;
}

/* TurboTable */

.ui-table .ui-table-thead>tr>th, .ui-table .ui-table-tfoot>tr>td {
  background-color: var(--fundo);
  border: 1px solid var(--claro);
  color: var(--gelo);
}

.ui-table .ui-table-tbody>tr {
  background-color: var(--gelo);
  color: var(--escuro);
  font-weight: 500;
}

.ui-table .ui-table-tbody>tr>td {
  border: 1px solid #888888;
  background-color: inherit;
}

.ui-table .ui-table-tbody>tr.ui-state-highlight {
  background-color: var(--claro);
  color: var(--azulcl);
}

.ui-table .ui-table-tbody>tr.ui-contextmenu-selected {
  background-color: white;
  color: var(--azulcl);
}

.ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: var(--claro);
}

.ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: var(--azulcl);
}

.ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  color: var(--claro);
}

.ui-table.ui-table-hoverable-rows .ui-table-tbody>tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
  cursor: pointer;
  background-color: var(--fundo);
  color: var(--claro);
}

@media (max-width: 35em) {
  .ui-table-responsive .ui-table-tbody>tr {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
  }
}

/* Row Reorder */

.ui-table .ui-table-tbody>tr.ui-table-dragpoint-top>td {
  box-shadow: inset 0 2px 0 0 var(--claro);
}

.ui-table .ui-table-tbody>tr.ui-table-dragpoint-bottom>td {
  box-shadow: inset 0 -2px 0 0 var(--claro);
}

/* TurboTable */

.ui-treetable .ui-treetable-thead>tr>th, .ui-treetable .ui-treetable-tfoot>tr>td {
  background-color: var(--escuro);
  border: 1px solid var(--escuro);
  color: var(--claro);
}

.ui-treetable .ui-treetable-tbody>tr {
  background-color: #575757;
  color: var(--claro);
}

.ui-treetable .ui-treetable-tbody>tr>td {
  border: 1px solid #888888;
  background-color: inherit;
}

.ui-treetable .ui-treetable-tbody>tr.ui-state-highlight {
  background-color: var(--claro);
  color: var(--azulcl);
}

.ui-treetable .ui-treetable-tbody>tr.ui-state-highlight .ui-treetable-toggler {
  color: var(--azulcl);
}

.ui-treetable .ui-treetable-tbody>tr.ui-contextmenu-selected {
  background-color: white;
  color: var(--azulcl);
}

.ui-treetable .ui-treetable-tbody>tr.ui-contextmenu-selected .ui-treetable-toggler {
  color: var(--azulcl);
}

.ui-treetable .ui-treetable-tbody>tr .ui-treetable-toggler {
  color: var(--claro);
}

.ui-treetable .ui-sortable-column .ui-sortable-column-icon {
  color: var(--claro);
}

.ui-treetable .ui-sortable-column.ui-state-highlight {
  background-color: var(--claro);
  color: var(--azulcl);
}

.ui-treetable .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: var(--azulcl);
}

.ui-treetable .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: var(--fundo);
  color: var(--claro);
}

.ui-treetable .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  color: var(--claro);
}

.ui-treetable.ui-treetable-hoverable-rows .ui-treetable-tbody>tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
  cursor: pointer;
  background-color: var(--fundo);
  color: var(--claro);
}

@media (max-width: 35em) {
  .ui-treetable-responsive .ui-treetable-tbody>tr {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
  }
}

/* Row Reorder */

.ui-treetable .ui-treetable-tbody>tr.ui-treetable-dragpoint-top>td {
  box-shadow: inset 0 2px 0 0 var(--claro);
}

.ui-treetable .ui-treetable-tbody>tr.ui-treetable-dragpoint-bottom>td {
  box-shadow: inset 0 -2px 0 0 var(--claro);
}

/* Validation */

.ui-inputtext.ng-dirty.ng-invalid, p-dropdown.ng-dirty.ng-invalid>.ui-dropdown, p-autocomplete.ng-dirty.ng-invalid>.ui-autocomplete>.ui-inputtext, p-calendar.ng-dirty.ng-invalid>.ui-calendar>.ui-inputtext, p-chips.ng-dirty.ng-invalid>.ui-inputtext, p-inputmask.ng-dirty.ng-invalid>.ui-inputtext, p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, p-listbox.ng-dirty.ng-invalid .ui-inputtext, p-multiselect.ng-dirty.ng-invalid>.ui-multiselect, p-spinner.ng-dirty.ng-invalid>.ui-inputtext, p-selectbutton.ng-dirty.ng-invalid .ui-button, p-togglebutton.ng-dirty.ng-invalid .ui-button {
  border-bottom-color: var(--error);
}

/* Cornering */

.ui-corner-tl {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

.ui-corner-tr {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.ui-corner-bl {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ui-corner-br {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-corner-top {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.ui-corner-bottom {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-corner-right {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ui-corner-left {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ui-corner-all {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}