<p-growl [(value)]="msgs"></p-growl>

<p-panel header="Informações Pessoais" 
        [toggleable]="true" 
        [style]="{'margin-bottom':'20px', 'width':'100%'}"
        [collapsed]="false">
    <div class="ui-g form-group">
        <div class="ui-lg-12">
        <label>Nome Completo:</label>
        <input type="text" 
                [(ngModel)]="element.nome"
                pInputText 
                maxlength="50"
                style="width: 100%"
                [ngClass]="isCampoInvalido('nome')?'invalidField':''"/>
        </div>
        <div class="ui-lg-4 ui-md-6">
        <label>CPF:</label>
        <p-inputMask type="text" 
                [(ngModel)]="element.cpf"
                [style]="{'width': '100%'}"
                mask="999.999.999-99"
                [styleClass]="isCampoInvalido('cpf')?'invalidField':''"></p-inputMask>
        </div>
        <div class="ui-lg-4 ui-md-6">
        <label>RG:</label>
        <input type="text" 
                [(ngModel)]="element.rg"
                maxlength="15"
                pInputText 
                style="width: 100%"
                [ngClass]="isCampoInvalido('rg')?'invalidField':''"/>
        </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Data de Nascimento:</label>
                        <p-calendar [(ngModel)]="element.dataNascimento" 
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                [style]="{'width':'100%'}"
                                [locale]="br"
                                [showButtonBar]="true"
                                [inputStyle]="{'width':'calc(100% - 34px)'}"></p-calendar>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>CEP:</label>
                        <div>
                                <div class="ui-lg-7 ui-md-7" style="padding: 0; float: left;">
                                        <input type="text" 
                                                [(ngModel)]="element.cep"
                                                pInputText 
                                                maxlength="8"
                                                style="width: 100%"
                                                [ngClass]="isCampoInvalido('cpf')?'invalidField':''"/>
                                </div>
                                <div class="ui-lg-5 ui-md-5" style="padding: 0; float: left;">
                                        <button (click)="buscarCEP()" 
                                                pButton type="button" 
                                                [disabled]="desabilitarBotaoBuscaCep()" 
                                                label="Buscar CEP"
                                                class="form-button"
                                                title="Buscar CEP"></button>
                                </div>
                        </div>
                </div>
                <div class="ui-lg-8 ui-md-12">
                        <label>Endereço:</label>
                        <input type="text" 
                                [(ngModel)]="element.endereco"
                                maxlength="100"
                                pInputText 
                                style="width: 100%"
                                [ngClass]="isCampoInvalido('endereco')?'invalidField':''"/>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Complemento:</label>
                        <input type="text" 
                                [(ngModel)]="element.complemento"
                                maxlength="20"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Bairro:</label>
                        <input type="text" 
                                [(ngModel)]="element.bairro"
                                maxlength="20"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Cidade:</label>
                        <input type="text" 
                                [(ngModel)]="element.cidade"
                                maxlength="20"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <hr>
                <div class="ui-lg-6 ui-md-6">
                        <label>Nome do Pai:</label>
                        <input type="text" 
                                [(ngModel)]="element.nomePai"
                                maxlength="50"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-6 ui-md-6">
                        <label>Nome da Mãe:</label>
                        <input type="text" 
                                [(ngModel)]="element.nomeMae"
                                maxlength="50"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>E-mail:</label>
                        <input type="text" 
                                [(ngModel)]="element.email"
                                maxlength="40"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-3 ui-md-4">
                        <label>Telefone:</label>
                        <input type="text" 
                                id="telefoneFormularioId"
                                [(ngModel)]="element.telefone"
                                maxlength="10"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-3 ui-md-4">
                        <label>Celular:</label>
                        <input type="text" 
                                [(ngModel)]="element.celular"
                                maxlength="10"
                                pInputText 
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-2 ui-md-4">
                        <p-checkbox label="Emitir nota fiscal" 
                                binary="true" 
                                [(ngModel)]="element.notaFiscal"></p-checkbox>

                </div>
        </div>
</p-panel>
<p-panel header="Informações Escolares" 
        [toggleable]="true" 
        [style]="{'margin-bottom':'20px', 'width':'100%'}"
        [collapsed]="true">
        <div class="ui-g form-group">
                <div class="ui-lg-4 ui-md-6">
                        <label>Curso:</label>
                        <p-autoComplete [(ngModel)]="element.curso" 
                                        [suggestions]="cursoSuggestions"
                                        (onSelect)="onSelect('curso')" 
                                        (completeMethod)="buscarDropdown($event, 'curso')"
                                        [style]="{'width':'100%'}"
                                        minLength="3"
                                        [forceSelection]="true"
                                        [emptyMessage]="'Não foram encontrados resultados'"
                                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                                        field="nome"
                                        [styleClass]="isCampoInvalido('curso')?'invalidField':''"
                                        [dropdown]="true"></p-autoComplete>
                </div>

                <div class="ui-lg-4 ui-md-6">
                        <label>Matrícula:</label>
                        <div>
                                <div class="ui-lg-6 com md-6" style="padding: 0; float: left;">
                                        <input type="text" 
                                                [(ngModel)]="element.matricula"
                                                pInputText 
                                                maxlength="8"
                                                style="width: 100%"
                                                [ngClass]="isCampoInvalido('matricula')?'invalidField':''"/>
                                </div>
                                <div class="ui-lg-6 com md-6" style="padding: 0; float: left;">
                                        <button (click)="gerarMatricula()" 
                                                pButton type="button" 
                                                [disabled]="desabilitarBotaoGerarMatriucla()" 
                                                label="Gerar Matrícula"
                                                class="form-button"
                                                title="Gerar Matrícula"></button>
                                </div>
                        </div>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Situação:</label>
                        <p-autoComplete [(ngModel)]="element.situacao" 
                                        [suggestions]="situacaoSuggestions" 
                                        (completeMethod)="buscarDropdown($event, 'situação')"
                                        (onSelect)="onSelect('situação')" 
                                        [style]="{'width':'100%'}"
                                        minLength="1"
                                        [forceSelection]="true"
                                        [emptyMessage]="'Não foram encontrados resultados'"
                                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                                        field="label"
                                        [styleClass]="isCampoInvalido('status')?'invalidField':''"
                                        [dropdown]="true"></p-autoComplete>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Data de Matrícula:</label>
                        <p-calendar [(ngModel)]="element._dataNascimento" 
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                [style]="{'width':'100%'}"
                                (onSelect)="onSelect('dataMatricula')"
                                [locale]="br"
                                [showButtonBar]="true"
                                [styleClass]="isCampoInvalido('dataMatricula')?'invalidField':''"
                                [inputStyle]="{'width':'calc(100% - 34px)'}"></p-calendar>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Curso Anterior:</label>
                        <input type="text" 
                                [(ngModel)]="element.cursoAnterior"
                                pInputText 
                                maxlength="20"
                                style="width: 100%"/>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Turma:</label>
                        <p-autoComplete [(ngModel)]="element.turma" 
                                        [suggestions]="turmaSuggestions" 
                                        (completeMethod)="buscarDropdown($event, 'turma')"
                                        [style]="{'width':'100%'}"
                                        minLength="1"
                                        [disabled]="getDisabled('turma')"
                                        [forceSelection]="true"
                                        [emptyMessage]="'Não foram encontrados resultados'"
                                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                                        field="codigo"
                                        [styleClass]="isCampoInvalido('turma')?'invalidField':''"
                                        [dropdown]="true"></p-autoComplete>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <label>Data de Validade:</label>
                        <p-calendar [(ngModel)]="element.dataValidade" 
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                [style]="{'width':'100%'}"
                                [locale]="br"
                                [showButtonBar]="true"
                                [inputStyle]="{'width':'calc(100% - 34px)'}"></p-calendar>
                </div>
                <div class="ui-lg-4 ui-md-6">
                        <p-checkbox label="Transferência" 
                                        binary="true" 
                                        [(ngModel)]="element.transferencia"></p-checkbox>
                </div>
                <div class="ui-lg-4 ui-md-6" *ngIf="!getDisabled('turma') && !element.curso.especializacao">
                        <p-checkbox label="Incluir turma de especialização" 
                                        binary="true" 
                                        (onChange)="onChangeChkEspecializacao($event)"
                                        [(ngModel)]="inserirEspecializacao"></p-checkbox>
                </div>
                <div class="ui-lg-4 ui-md-6" *ngIf="inserirEspecializacao">
                        <label>Curso de Especialização:</label>
                        <p-autoComplete [(ngModel)]="cursoEspecializacao" 
                                        [suggestions]="cursoEspecializacaoSuggestions" 
                                        (completeMethod)="buscarDropdown($event, 'cursoEspecialização')"
                                        (onSelect)="onSelect('cursoEspecialização')"
                                        [style]="{'width':'100%'}"
                                        minLength="1"
                                        [forceSelection]="true"
                                        [emptyMessage]="'Não foram encontrados resultados'"
                                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                                        field="nome"
                                        [dropdown]="true"></p-autoComplete>
                </div>
                <div class="ui-lg-4 ui-md-6" *ngIf="inserirEspecializacao">
                        <label>Turma de Especialização:</label>
                        <p-autoComplete [(ngModel)]="element.turmaEspecializacao" 
                                        [suggestions]="turmaEspecializacaoSuggestions" 
                                        (completeMethod)="buscarDropdown($event, 'turmaEspecialização')"
                                        [style]="{'width':'100%'}"
                                        minLength="1"
                                        [forceSelection]="true"
                                        [emptyMessage]="'Não foram encontrados resultados'"
                                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                                        field="codigo"
                                        [disabled]="getDisabled('turmaEspecializacao')"
                                        [dropdown]="true"></p-autoComplete>
                </div>
        </div>
</p-panel>
<!-- <p-panel header="Notas" 
        [toggleable]="true" 
        [style]="{'margin-bottom':'20px', 'width':'100%'}"
        [collapsed]="true">

        <div class="ui-g" style="padding-right:10em">
                <ng-container *ngFor="let d of disciplinas">
                        <div class="ui-lg-3 ui-md-3" style="text-align:right">
                                <label style="width:80%">{{d.nome}}</label>
                                <input type="text" 

                                        pInputText 
                                        style="width: 20%"/>
                        </div>
                </ng-container>

                <ng-container *ngIf="cursoEspecializacao != null" >
                        <hr style="border: 1px solid var(--gelo); width: 100%">
                        <ng-container *ngFor="let d of disciplinasEspecializacao">
                                <div class="ui-lg-3 ui-md-3" style="text-align:right">
                                        <label>{{d.nome}}</label>
                                        <input type="text" 
                                                pInputText 
                                                style="width: 20%"/>
                                </div>
                        </ng-container>
                </ng-container>
        </div>
</p-panel> -->
<!-- <p-panel header="Observações" 
        [toggleable]="true" 
        [style]="{'margin-bottom':'20px', 'width':'100%'}"
        [collapsed]="true">
        <div class="ui-g form-group">
                <div class="ui-lg-12 ui-md-12" style="margin-bottom: 15px">
                        <label>Observação:</label>
                        <textarea rows="3" pInputTextarea 
                                [(ngModel)]="observacao.obs"
                                style="width:100%"
                                [ngClass]="isCampoInvalido('observacao')?'invalidField':''"></textarea>
                </div>
                <div class="ui-lg-4 ui-md-4">
                        <label>Data da Observação:</label>
                        <p-calendar [(ngModel)]="observacao.data" 
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                [style]="{'width':'100%'}"
                                [locale]="br"
                                [showButtonBar]="true"
                                [inputStyle]="{'width':'calc(100% - 34px)'}"
                                [styleClass]="isCampoInvalido('dataObservacao')?'invalidField':''"></p-calendar>
                </div>
                <div class="ui-lg-4 ui-md-4" style="display: flex;">
                        <button (click)="adicionarObservacao()" 
                                pButton type="button" 
                                label="Salvar"
                                class="form-button"
                                style="align-self: flex-end;"
                                title="Salvar Observação"></button>
                </div>
                <div class="ui-lg-4 ui-md-4" style="display: flex;">
                        <button (click)="limparObservacao()" 
                                pButton type="button" 
                                [label]="idEdicaoObservacao == null ? 'Limpar' : 'Cancelar'"
                                class="form-button"
                                style="align-self: flex-end;"
                                [title]="idEdicaoObservacao == null ? 'Limpar Observação' : 'Cancelar Edição'"></button>
                </div>
        </div>
        <table-x [value]="element.observacoes" 
                [colunas]="colunasObservacoes" 
                emptyMessage="Não encontrou resultados para a busca."
                #tableComponent>

                <ng-template pTemplate="excluirObservacao" let-index="rowIndex" let-item="rowData">
                        <button type="button" pButton icon="fa fa-trash" title="Excluir" (click)="showConfirmationDeleteObservacao(item)"></button>
                </ng-template>

                <ng-template pTemplate="editarObservacao" let-index="rowIndex" let-item="rowData">
                        <button type="button" pButton icon="fa fa-edit" title="Editar" (click)="editarObservacao(item, index)"></button>
                </ng-template>

        </table-x>
</p-panel> -->
<div class="ui-lg-4 ui-md-6" style="float:right">
        <button (click)="cadastrarAluno()" 
                pButton type="button" 
                class="form-button"
                label="Cadastrar"
                style="height:34px"
                title="Cadastrar Aluno"></button>
</div>

<div *ngIf="observacaoDelete!=null && displayObservacaoDelete" class="block-back-wrap modal-type">
        <p-dialog header="Confirmar ação" [(visible)]="displayObservacaoDelete" [modal]="true" [blockScroll]="true" [closeOnEscape]="true">
            <div class="dialog-message">
                Quer mesmo deletar a Observação?
            </div>
    
            <div class="ui-g corpo-modal-confirmacao">
                <div class="ui-g-12">
                        <label>Aluno:</label>
                        <label>{{element.nome}} </label>
                </div>
                <div class="ui-g-12">
                    <label>Data:</label>
                    <label>{{observacaoDelete.dataStr}} </label>
                </div>
                <div class="ui-g-12">
                    <label>Observação:</label>
                    <label>{{observacaoDelete.obs}}</label>
                </div>
            </div>
    
            <p-footer>
                <button class="ui-button-success" icon="fa fa-check" type="button" label="Sim" pButton (click)="deleteObservacao();"></button>
                <button class="ui-button-danger" icon="fas fa-times" type="button" label="Não" pButton (click)="displayObservacaoDelete=false"></button>
            </p-footer>
        </p-dialog>
    </div>