<div class="tabela">
    <div class="header">
        <h1>Alunos com Vencimento em 60 dias</h1>
    </div>
    <custom-table [columns]="columns" [listOfElements]="pageList.lista" [maxHeigth]='heigthTabela'>
        <ng-template let-element customTemplate="acoesTemplate">
            <div style="text-align: end;">
                <button mat-icon-button color="primary"
                        matTooltip="Ficha do Aluno"
                        (click)="visualizarAluno(element)">
                    <i class="material-icons">assignment</i>
                </button>
            </div>
        </ng-template>
    </custom-table>
    <custom-paginator *ngif="pageList.total > pageList.tamanhoPagina" [pageList]="pageList" (paginacao)="paginacao($event)"></custom-paginator>
</div>
