<p-panel [header]="(element !=null && element.id > 0 ? 'Editar' : 'Adicionar') + ' Hospital'" 
        [style]="{'margin-bottom':'20px', 'width':'100%'}">
    <div class="ui-g form-group">
        <div class="ui-lg-12">
            <label>Nome Completo:</label>
            <input type="text" 
                    [(ngModel)]="element.nome"
                    pInputText 
                    style="width: 100%"
                    [ngClass]="isCampoInvalido('nome')?'invalidField':''"/>
        </div>
    </div>
</p-panel>
<div class="col-lg-4 col-md-6" style="float:right">
    <button (click)="cadastrarHospital()" 
            pButton type="button" 
            class="form-button"
            label="Cadastrar"
            style="height:34px"
            class="form-button"
            title="Cadastrar Hospital"></button>
</div>
<div class="col-lg-4 col-md-6" style="float:right">
    <button (click)="voltar()" 
            pButton type="button" 
            class="form-button"
            label="Cancelar"
            style="height:34px"
            class="form-button"
            title="Cancelar"></button>
</div>