<div class="tabela">
    <mat-card>
        <custom-table [columns]="columns" [colGroups]="columnGroups" [listOfElements]="pageList.lista" [maxHeigth]='heigthTabela'>
            <ng-template let-element let-column="column" let-index='rowIndex' customTemplate="expand">
                <button mat-icon-button color="primary" class="toggleButton" (click)="expandTable(element)">
                    <mat-icon class="material-icons">{{changeIconRetorno[index] ? 'expand_less' : 'expand_more'}}</mat-icon>
                </button>
            </ng-template>

            <ng-template let-element customTemplate="expandedDetailTemplate">
                <div [@detailExpand]="expandedRetornos.includes(element) ? 'expanded' : 'collapsed'">
                    <mat-list>
                        <mat-list-item *ngFor="let registro of element.registros">
                          {{registro.registro}}
                        </mat-list-item>
                    </mat-list>
                </div>
            </ng-template>
        </custom-table>
        <custom-paginator [pageList]="pageList" (paginacao)="paginacao($event)"></custom-paginator>

    </mat-card>
</div>
