<div class="formulario">
    <div class="header">
        <div class="six">
            <h1>{{isEdicao ? 'Gerenciar' : 'Cadastro de' }} Turma</h1>
        </div>
        <div class="six buttons">
            <button mat-raised-button color="accent" (click)="voltar()">Voltar</button>
            <button *ngIf="!isEdicao" mat-raised-button color="primary" (click)="salvar()">Salvar</button>
            <button *ngIf="isEdicao && emAndamento" mat-raised-button color="primary" [matMenuTriggerFor]="menu">
                Ações <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="salvar()">
                    <mat-icon>edit</mat-icon>
                    <span>Salvar</span>
                </button>
                <button mat-menu-item (click)="finalizarTurma()">
                    <mat-icon>check</mat-icon>
                    <span>Finalizar</span>
                </button>

            </mat-menu>
        </div>
    </div>
    <mat-card>
        <div class="form-grid">
            <div class="four" >
                <custom-select label='Curso:'
                               field='nome'
                               [options]="cursosOptions"
                               [(selected)]="cursoSelecionado"
                               [disabled]='isEdicao'>
                </custom-select>
            </div>
            <div class="four">
                <custom-datetimepicker [(value)]="element.dataInicio" name='Data de Início'>
                </custom-datetimepicker>
            </div>
            <div class="four">
                <custom-datetimepicker [(value)]="element.dataFim" name='Data de Término'>
                </custom-datetimepicker>
            </div>
            <mat-form-field class="four" >
                <mat-label>Código:</mat-label>
                <input matInput [(ngModel)]="element.codigo" [disabled]='isEdicao'>
                <button mat-raised-button color="accent" matSuffix (click)="gerarCodigoDaTurma()" *ngIf='!isEdicao'>Gerar Código</button>
            </mat-form-field>
            <mat-form-field class="four">
                <mat-label>Dias da Semana:</mat-label>
                <input matInput [(ngModel)]="element.diasDaSemana">
            </mat-form-field>
            <mat-form-field class="two">
                <mat-label>Horário de Início:</mat-label>
                <input matInput [textMask]="{mask: masks.Hora}" [(ngModel)]="element.horaInicio">
            </mat-form-field>
            <mat-form-field class="two">
                <mat-label>Horário de Fim:</mat-label>
                <input matInput [textMask]="{mask: masks.Hora}" [(ngModel)]="element.horaFim">
            </mat-form-field>
            <h4 *ngIf="isEdicao" class="info-field">Situação: {{element.status}}</h4>
        </div>
    </mat-card>
    <mat-card *ngIf="isEdicao">
        <div class="form-grid">
            <div class="six">
                <mat-card-subtitle>Professores</mat-card-subtitle>
            </div>
            <div class="buttons">
                <button mat-button color="accent" (click)="adicionarProfessor()">
                    <mat-icon>add</mat-icon>Adicionar
                </button>
            </div>
        </div>
        <custom-table [columns]="columnsProfessor" [listOfElements]="element.professores">
            <ng-template let-element customTemplate="acoesTemplate">
                <div style="text-align: end;">
                    <button mat-icon-button color="primary"
                            matTooltip="Remover Professor"
                            (click)="excluirProfessor(element)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </ng-template>
        </custom-table>
    </mat-card>
    <mat-card *ngIf="isEdicao">
        <div class="form-grid">
            <div class="six">
                <mat-card-subtitle>Registro da Turma</mat-card-subtitle>
            </div>
            <div class="buttons">
                <button mat-button color="accent" (click)="adicionarRegistro()">
                    <mat-icon>add</mat-icon>Adicionar
                </button>
            </div>
        </div>
        <custom-table [columns]="columnsRegistro" [listOfElements]="element.registros">
            <ng-template let-element customTemplate="acoesTemplate">
                <div style="text-align: end;">
                    <button mat-icon-button color="primary"
                            matTooltip="Excluir Registro"
                            (click)="excluirRegistro(element)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </ng-template>
        </custom-table>
    </mat-card>
</div>
