@import "~@angular/material/theming";
@include mat-core();

@font-face {
  font-family: NimbusSansBecker;
  src: url(/src//assets/fonts/nimbus-sans-becker.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(/assets/fonts/Roboto-Black.ttf);
}

:root{
    --fundo:#4d575b;
    --fundoopac:#4d575b80;
    --escuro:#191716;
    --claro:#bbced3;
    --azulcl:#4f7cac;
    --azules:#0f084b;
    --error:#520B03;
    --gelo: #F0F8FF;
}

$primary:#0f084b;
$secondary:#4f7cac;
$gray:#4d575b;
$black: #191716;
$red: #520B03;
$white: #F0F8FF;
$gray-blue: #78849E;
$light-blue: #bbced3;
