<div class="formulario">
    <div class="header">
        <div class="six">
            <h1>Processar Retorno</h1>
        </div>
        <div class="six buttons" *ngIf="retornos.length">
            <button mat-raised-button color="accent" (click)="cancelar()">Voltar</button>
            <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        </div>
    </div>
    <mat-card *ngIf="!retornos.length">
        <div class="buttons">
            <input type="file" class="file-input" (change)="onFileSelected($event)" multiple #fileUpload>
            <button mat-raised-button color="primary" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>Anexar
            </button>
            <button mat-raised-button color="accent" (click)="limparAnexos()">
                Limpar
            </button>
            <button mat-raised-button color="primary" (click)="processar()" [disabled]="arquivos.length == 0">
                Processar
            </button>
        </div>
        <div class="anexos">
            <ng-container *ngFor="let arquivo of arquivos">
                <span class="arquivo-anexo">
                    {{arquivo.name}}
                    <button mat-button class="close" (click)="removeAnexo(arquivo)">
                        x
                    </button>
                </span>
            </ng-container>
        </div>
    </mat-card>

    <mat-tab-group *ngIf="retornos.length">
        <ng-container *ngFor="let r of retornos">
            <mat-tab>
                <ng-template mat-tab-label>
                    {{r.numero}}
                    <button mat-icon-button class="tab-close" (click)="removerRetorno(r)"><mat-icon>close</mat-icon></button>
                </ng-template>
                <ng-template matTabContent>
                    <div class="form-grid">
                        <div class="three">
                            <div class="field">
                                <span>Tipo</span>
                                <span class="campo">{{ r.tipo }}</span>
                            </div>
                        </div>
                        <div class="three">
                            <div class="field">
                                <span>Data de Referência</span>
                                <span class="campo">{{ r.dataReferenciaStr }}</span>
                            </div>
                        </div>
                        <div class="three">
                            <div class="field">
                                <span>Situação</span>
                                <span class="campo">{{ r.status }}</span>
                            </div>
                        </div>
                        <div class="three">
                            <div class="field">
                                <span>Data de Processamento</span>
                                <span class="campo">{{ tratarString(r.dataLeituraStr) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tabela">
                        <custom-table [columns]="columns" [listOfElements]="r.movimentacoes" [maxHeigth]="heigthTabela">
                        </custom-table>
                    </div>
                </ng-template>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>