<div class="formulario">
    <div class="header">
        <div class="six">
            <h1>Ficha do Aluno</h1>
        </div>
        <div class="six buttons">
            <button
                *ngIf="rotaVoltar"
                mat-raised-button
                color="accent"
                (click)="voltar()"
            >
                Voltar
            </button>
            <button
                *ngIf="idAluno"
                mat-raised-button
                color="primary"
                [matMenuTriggerFor]="menu"
            >
                Ações <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editarAluno()">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>
                <button mat-menu-item (click)="vincularTurma()">
                    <mat-icon>link</mat-icon>
                    <span>Vincular em Turma</span>
                </button>
                <button mat-menu-item (click)="transferirTurma()">
                    <mat-icon>swap_horiz</mat-icon>
                    <span>Transferir de Turma</span>
                </button>
                <button mat-menu-item (click)="alterarSituacao()">
                    <mat-icon>change_circle</mat-icon>
                    <span>Alterar Situação</span>
                </button>
                <button mat-menu-item (click)="imprimir()">
                    <mat-icon>print</mat-icon>
                    <span>Imprimir</span>
                </button>
                <button
                    mat-menu-item
                    (click)="cracha()"
                    *ngIf="element.turmasAluno.length > 0"
                >
                    <mat-icon>portrait</mat-icon>
                    <span>Crachá</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <mat-tab-group ngxPrint>
        <mat-tab label="Informações">
            <h4>Informações Básicas</h4>
            <div class="form-grid">
                <span class="imagem-perfil image">
                    <ng-container *ngIf="imagem == null; else elseFoto">
                        <img src="assets/images/empty-avatar.png" alt="" />
                    </ng-container>
                    <ng-template #elseFoto>
                        <img src="{{ imagem }}" alt="" /><br />
                    </ng-template>
                </span>
                <div class="perfil">
                    <div class="six">
                        <div class="field">
                            <span>Nome</span>
                            <span class="campo">{{
                                tratarString(element.nome)
                            }}</span>
                        </div>
                    </div>
                    <div class="three">
                        <div class="field">
                            <span>Data de Nascimento</span>
                            <span class="campo">{{
                                tratarString(element.dataNascimentoStr)
                            }}</span>
                        </div>
                    </div>
                    <div class="three">
                        <div class="field">
                            <span>CPF</span>
                            <span class="campo">{{
                                tratarString(element.cpf)
                            }}</span>
                        </div>
                    </div>
                    <div class="three">
                        <div class="field">
                            <span>RG</span>
                            <span class="campo">{{
                                tratarString(element.rg)
                            }}</span>
                        </div>
                    </div>

                    <div class="three">
                        <div class="field">
                            <span>Órgão Emissor</span>
                            <span class="campo">{{
                                tratarString(element.orgaoEmissor)
                            }}</span>
                        </div>
                    </div>
                    <div class="three">
                        <div class="field">
                            <span>Sexo</span>
                            <span class="campo">{{
                                getCampo("sexo", element)
                            }}</span>
                        </div>
                    </div>
                    <div class="three">
                        <div class="field">
                            <span>Naturalidade</span>
                            <span class="campo">{{
                                tratarString(element.naturalidade)
                            }}</span>
                        </div>
                    </div>
                    <div class="six">
                        <div class="field">
                            <span>Nome do Pai</span>
                            <span class="campo">{{
                                tratarString(element.nomePai)
                            }}</span>
                        </div>
                    </div>
                    <div class="six">
                        <div class="field">
                            <span>Nome da Mãe</span>
                            <span class="campo">{{
                                tratarString(element.nomeMae)
                            }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Endereço e Contato</h4>
            <div class="form-grid">
                <div class="three">
                    <div class="field">
                        <span>Telefone</span>
                        <span class="campo">{{
                            tratarString(element.telefone)
                        }}</span>
                    </div>
                </div>
                <div class="three">
                    <div class="field">
                        <span>Celular</span>
                        <span class="campo">{{
                            tratarString(element.celular)
                        }}</span>
                    </div>
                </div>
                <div class="three">
                    <div class="field">
                        <span>E-mail</span>
                        <span class="campo">{{
                            tratarString(element.email)
                        }}</span>
                    </div>
                </div>
                <div class="three">
                    <div class="field">
                        <span>CEP</span>
                        <span class="campo">{{
                            tratarString(element.cep)
                        }}</span>
                    </div>
                </div>
                <div class="six">
                    <div class="field">
                        <span>Endereço</span>
                        <span class="campo">{{
                            tratarString(element.endereco)
                        }}</span>
                    </div>
                </div>
                <div class="two">
                    <div class="field">
                        <span>Complemento</span>
                        <span class="campo">{{
                            tratarString(element.complemento)
                        }}</span>
                    </div>
                </div>
                <div class="two">
                    <div class="field">
                        <span>Bairro</span>
                        <span class="campo">{{
                            tratarString(element.bairro)
                        }}</span>
                    </div>
                </div>
                <div class="two">
                    <div class="field">
                        <span>Cidade</span>
                        <span class="campo">{{
                            tratarString(element.cidade)
                        }}</span>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <div class="three">
                    <div class="field">
                        <span>Data de Matrícula</span>
                        <span class="campo">{{
                            tratarString(element.dataMatriculaStr)
                        }}</span>
                    </div>
                </div>
                <div class="three">
                    <div class="field">
                        <span>Data de Validade</span>
                        <span class="campo">{{
                            tratarString(element.dataValidadeStr)
                        }}</span>
                    </div>
                </div>
                <div class="six">
                    <div class="field">
                        <span>Curso Anterior</span>
                        <span class="campo">{{
                            tratarString(element.cursoAnterior)
                        }}</span>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Turmas e Notas">
            <h4>Turmas e Notas</h4>
            <h4 class="info-field">Aluno: {{ element.nome }}</h4>
            <custom-table
                [columns]="columnsTurma"
                [colGroups]="columnGroupsTurma"
                [listOfElements]="element.turmasAluno"
            >
                <ng-template let-turmaAluno customTemplate="acoesTemplate">
                    <div style="text-align: end">
                        <button
                            mat-icon-button
                            color="primary"
                            matTooltip="Visualizar Notas"
                            (click)="visualizarNotas(turmaAluno)"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            color="primary"
                            matTooltip="Gerar Histórico"
                            (click)="gerarHistorico(turmaAluno)"
                        >
                            <mat-icon>summarize</mat-icon>
                        </button>
                    </div>
                </ng-template>
                <ng-template
                    let-element
                    let-column="column"
                    let-index="rowIndex"
                    customTemplate="expand"
                >
                    <button
                        mat-icon-button
                        color="primary"
                        class="toggleButton"
                        (click)="expandTable(element)"
                    >
                        <mat-icon class="material-icons">{{
                            changeIconTurma[index]
                                ? "expand_less"
                                : "expand_more"
                        }}</mat-icon>
                    </button>
                </ng-template>

                <ng-template
                    let-element
                    customTemplate="expandedDetailTemplate"
                >
                    <div
                        [@detailExpand]="
                            expandedTurma.includes(element)
                                ? 'expanded'
                                : 'collapsed'
                        "
                    >
                        <div *ngIf="concluido(element)" class="form-grid">
                            <div class="three">
                                <div class="field">
                                    <span>Código de conclusão do Sistec</span>
                                    <span class="campo">{{
                                        tratarString(
                                            element.codigoConlusaoSistec
                                        )
                                    }}</span>
                                </div>
                            </div>
                            <div class="three">
                                <div class="field">
                                    <span>Data de Conclusão</span>
                                    <span class="campo">{{
                                        tratarString(element.dataConclusaoStr)
                                    }}</span>
                                </div>
                            </div>
                        </div>
                        <h4>Notas</h4>
                        <div class="form-grid">
                            <div
                                *ngFor="let nota of element.notas"
                                class="three"
                            >
                                <div class="field">
                                    <span>{{ nota.disciplina.nome }}</span>
                                    <span class="campo">{{
                                        tratarString(nota.valorNota)
                                    }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </custom-table>
        </mat-tab>
        <mat-tab label="Registro">
            <h4>Registro do Aluno</h4>
            <div style="display: flex">
                <h4 class="info-field">Aluno: {{ element.nome }}</h4>
                <div class="buttons">
                    <button
                        mat-button
                        color="accent"
                        (click)="adicionarRegistro()"
                    >
                        <mat-icon>add</mat-icon>Adicionar
                    </button>
                </div>
            </div>
            <custom-table
                [columns]="columnsRegistro"
                [listOfElements]="element.registros"
            >
                <ng-template let-element customTemplate="acoesTemplate">
                    <div style="text-align: end">
                        <button
                            mat-icon-button
                            color="primary"
                            matTooltip="Excluir Registro"
                            (click)="excluirRegistro(element)"
                        >
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </ng-template>
            </custom-table>
        </mat-tab>
        <mat-tab label="Financeiro">
            <h4>Financeiro</h4>
            <div style="display: flex">
                <h4 class="info-field">Aluno: {{ element.nome }}</h4>
            </div>
            <div class="tabela">
                <custom-table
                    [columns]="columnsFinanceiro"
                    [listOfElements]="element.boletos"
                    [maxHeigth]="heigthTabela"
                >
                    <ng-template let-element customTemplate="acoesTemplate">
                        <div style="text-align: end">
                            <button
                                mat-icon-button
                                color="primary"
                                matTooltip="Excluir Registro"
                                (click)="excluirRegistro(element)"
                            >
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </ng-template>
                </custom-table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #turmaCrachaTemplate>
    <div class="form-grid" style="display: flex">
        <div class="twelve form-field" style="height: 50px">
            <mat-radio-group
                aria-label="Select an option"
                [(ngModel)]="turmaCrachaSelecionada"
            >
                <mat-radio-button
                    [value]="option"
                    *ngFor="let option of turmaCrachaOptions"
                >
                    {{ option.turma.codigo }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</ng-template>
