<div class="custom-autocomplete">
    <ons-core-form-field appearance="outline">
        <ons-core-label *ngIf="label != null">{{label}}</ons-core-label>
        <input matInput id="autocompleteInput" [(ngModel)]="inputSearch" [disabled]="disabled" [matAutocomplete]="auto" (ngModelChange)="onFilter($event)" placeholder="{{placeholder}}">
        <ons-core-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" (optionSelected)="onChange($event)" (opened)="opened()">
            <ng-container *ngIf="getLoading(); else loading">
                <ons-core-option *ngFor="let op of options" [value]="op">
                    {{op[field]}}
                </ons-core-option>
                <ons-core-option *ngIf="isEmpty()" [value]="{}">
                    Nenhum resultado foi encontrado.
                </ons-core-option>
            </ng-container>

            <ng-template #loading>
                <ons-core-option disabled>
                    <div style="display:flex">
                        <span>Carregando...</span>
                        <span>
              <mat-progress-spinner color="primary" mode="indeterminate" diameter="15"></mat-progress-spinner>
            </span>
                    </div>
                </ons-core-option>
            </ng-template>
        </ons-core-autocomplete>
    </ons-core-form-field>
</div>