<div class="modal">
    <div class="modal-header">
        <h2>Alterar situação de aluno em turma</h2>
    </div>
    <mat-card>
        <h4 class="nome-disabled">Aluno: {{data.nome}}</h4>
        <div class="form-grid">
            <div class="six">
                <custom-select label="Turma Atual:" field="turma.codigo" [options]="turmasVinculadas"
                    [(selected)]="turmaAtualSelecionada" (select)="buscarStatus()" [disabled]="turmaDesabilitada">
                </custom-select>
            </div>
            <div class="six">
                <custom-select label='Situação:'
                               field='name'
                               [options]="tiposStatusAlunoOptions"
                               [(selected)]="tiposStatusAlunoSelecionado">
                </custom-select>
            </div>
            <mat-form-field class="six" *ngIf="ehConclusao()">
                <mat-label>Código de conclusão Sistec:</mat-label>
                <input matInput [(ngModel)]="element.codigoSistec" />
            </mat-form-field>
            <custom-datetimepicker [(value)]="dataConclusao" name='Data de Conclusão' class="six" *ngIf="ehConclusao()">
            </custom-datetimepicker>
            <mat-form-field class="twelve">
                <mat-label>Registro:</mat-label>
                <textarea matInput [(ngModel)]="element.registro"></textarea>
            </mat-form-field>
            <span *ngIf="element.registro!=null" class="contador">{{element.registro.length}}/5000</span>
        </div>
    </mat-card>
    <div class="modal-footer">
        <button mat-raised-button color="accent" (click)="closeModal(false)">Cancelar</button>
        <button mat-raised-button color="primary" (click)="closeModal(true)">Salvar</button>
    </div>
</div>
