<div class="formulario">
    <div class="header">
        <div class="six">
            <h1>{{element.id != null ? 'Edição' : 'Cadastro' }} de Turma</h1>
        </div>
        <div class="six buttons">
            <button mat-raised-button color="accent" (click)="voltar()">Voltar</button>
            <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        </div>
    </div>
    <mat-card>
        <mat-card-subtitle>Endereço e Contato</mat-card-subtitle>
        <div class="form-grid">
            <div class="four" >
                <custom-select label='Curso:'
                               field='nome'
                               [options]="cursosOptions"
                               [(selected)]="cursoSelecionado"
                               [disabled]='isEdicao'>
                </custom-select>
            </div>
            <div class="four">
                <custom-datetimepicker [(value)]="element.dataInicio" name='Data de Início'>
                </custom-datetimepicker>
            </div>
            <div class="four">
                <custom-datetimepicker [(value)]="element.dataFim" name='Data de Término'>
                </custom-datetimepicker>
            </div>
            <mat-form-field class="four" >
                <mat-label>Código:</mat-label>
                <input matInput [(ngModel)]="element.codigo" [disabled]='isEdicao'>
                <button mat-raised-button color="accent" matSuffix (click)="gerarCodigoDaTurma()" [disabled]='isEdicao'>Gerar Código</button>
            </mat-form-field>
            <mat-form-field class="four">
                <mat-label>Dias da Semana:</mat-label>
                <input matInput [(ngModel)]="element.diasDaSemana">
            </mat-form-field>
            <mat-form-field class="two">
                <mat-label>Horário de Início:</mat-label>
                <input matInput [textMask]="{mask: masks.Hora}" [(ngModel)]="element.horaInicio">
            </mat-form-field>
            <mat-form-field class="two">
                <mat-label>Horário de Fim:</mat-label>
                <input matInput [textMask]="{mask: masks.Hora}" [(ngModel)]="element.horaFim">
            </mat-form-field>
        </div>
    </mat-card>
</div>
