<div class="tabela">
    <div class="header">
        <div class="six">
            <h1>Listar Turmas</h1>
        </div>
    </div>
    <mat-card>
        <custom-table [columns]="columns" [listOfElements]="list">
            <ng-template let-element customTemplate="acoesTemplate">
                <div style="text-align: end;">
                    <button mat-icon-button color="primary" 
                            matTooltip="Mais Informações"
                            (click)="visualizarTurma(element)">
                        <i class="material-icons">visibility</i>
                    </button>
                    <button mat-icon-button color="primary" 
                            matTooltip="Editar Turma" 
                            (click)="editarTurma(element)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button mat-icon-button color="primary" 
                            matTooltip="Excluir Turma" 
                            (click)="excluirTurma(element)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </ng-template>
        </custom-table>
    </mat-card>
</div>