<p-growl [(value)]="msgs"></p-growl>
<div class="ui-g form-group">
    <div class="col-lg-4 col-md-6">
        <label>Curso:</label>
        <p-autoComplete [(ngModel)]="cursoSelecionado" 
                        [suggestions]="cursoSuggestions" 
                        (completeMethod)="buscarDropdown($event, 'curso')"
                        [style]="{'width':'100%'}"
                        minLength="3"
                        [forceSelection]="true"
                        [emptyMessage]="'Não foram encontrados resultados'"
                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                        field="nome"
                        (onSelect)="onSelect('curso')" 
                        [dropdown]="true"></p-autoComplete>
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Turma:</label>
        <p-autoComplete [(ngModel)]="turmaSelecionada" 
                        [suggestions]="turmaSuggestions" 
                        (completeMethod)="buscarDropdown($event, 'turma')"
                        [style]="{'width':'100%'}"
                        minLength="3"
                        [forceSelection]="true"
                        [emptyMessage]="'Não foram encontrados resultados'"
                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                        field="codigo"
                        (onSelect)="onSelect('turma')" 
                        [disabled]="getDisabled('turma')"
                        [dropdown]="true"></p-autoComplete>
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Disciplina:</label>
        <p-autoComplete [(ngModel)]="disciplinaSelecionada" 
                        [suggestions]="disciplinaSuggestions" 
                        (completeMethod)="buscarDropdown($event, 'disciplina')"
                        [style]="{'width':'100%'}"
                        minLength="3"
                        [forceSelection]="true"
                        [emptyMessage]="'Não foram encontrados resultados'"
                        [inputStyle]="{'width':'calc(100% - 2em)'}"
                        field="nome"
                        [disabled]="getDisabled('disciplina')"
                        [dropdown]="true"></p-autoComplete>
    </div>
</div>
<div class="ui-g" style="display:block; padding:15px 0">
    <div class="col-lg-3 col-md-4" style="float:right">
        <button (click)="pesquisarNotasAlunos()" 
                pButton type="button" 
                label="Pesquisar Alunos"
                class="form-button"
                title="Pesquisar Alunos"></button>
    </div>
    <div class="col-lg-3 col-md-4" style="float:right">
        <button (click)="limparCampos()" 
                pButton type="button"
                label="Limpar Campos"
                class="form-button"
                title="Limpar Campos"></button>
    </div>
</div>

<table-x [value]="notas" 
        [colunas]="colunas" 
        [loading]="loadingTable" 
        emptyMessage="Não encontrou resultados para a busca."
        scrollHeight="50vh"
        [style]="{'padding':'10px 0'}"
        #tableComponent>
    <ng-template pTemplate="inputNota" let-data let-index="rowIndex">
        <input id="valorProgramado"
                type="number"
                step="0.1"
                pInputText
                [(ngModel)]="data.nota"/>
    </ng-template>
</table-x>

<div class="col-lg-4 col-md-6" style="float:right">
        <button (click)="cadastrarNotas()" 
                pButton type="button" 
                class="form-button"
                label="Salvar Notas"
                style="height:34px"
                class="form-button"
                title="Salvar Notas"></button>
</div>