@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

@font-face {
  font-family: NimbusSansBecker;
  src: url(./fonts/nimbus-sans-becker.ttf);
}

:root{
  --fundo:#4d575b;
  --fundoopac:#4d575b80;
  --escuro:#191716;
  --claro:#bbced3;
  --azulcl:#4f7cac;
  --azules:#0f084b;
  --error:#520B03;
  --gelo: #F0F8FF;
}

.fa-2x {
  position: relative;
    padding: 10px 0;
    width: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
  cursor: pointer;
}
.hamburger-menu{
  padding-top: 20px;
}
.main-menu:hover .hamburger-menu{
  display: none;
}
.main-menu:hover .logo img{
  display: block;
  margin: 0 auto;
}

.main-menu {
  background: #2e2e2e;
  border-right: 1px solid var(--claro);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 80px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.logo img{
  width: auto;
  max-width: 250px;
  height: auto;
  max-height: 70px;
  display: none;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--claro) !important;
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover, a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a, nav.main-menu li.active>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: var(--claro) !important;
  background-color: var(--azulcl);
}

.area {
  float: left;
  background: var(--claro);
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.home-container{
  padding-left: 80px;
  background-color: var(--escuro);
  height: 100vh;
  overflow-y: auto;
}

label{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.tableListagem{
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.ui-chkbox {
  padding-top: 10px;
}

.ui-autocomplete-dropdown{
  height: 34px;
}

.form-button{
  width:100%; 
  height:31px;
}

.ui-widget-content{
  border: none;
}

.scrollbar {
  background-color: var(--claro);
  float: left;
  height: 300px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 65px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

a:hover {
  color: var(--azulcl);
  cursor: pointer;
}

.form-group > input.ui-inputtext.invalidField {
  border: 1px solid var(--error) !important;
  width: 100%;
}

.ui-calendar.invalidField > input {
  border: 1px solid var(--error) !important;
}

.form-group input.ui-inputtext.invalidField, .invalidFieldData {
  border: 1px solid var(--error) !important;
}

p-autocomplete .invalidField {
  border: 1px solid var(--error) !important;
}

.ui-card.ui-widget.ui-widget-content {
  box-shadow: 3px 4px 3px var(--claro);
  border: 1px solid var(--claro);
}

.ui-card.ui-widget.ui-widget-content a{
  font-weight: bold;
}

.ui-card.ui-widget.ui-widget-content a:hover{
  color: var(--azulcl);
}

.ui-chkbox-label{
  vertical-align: text-top;
}
.ui-card-title{
  text-decoration: underline;
}

.home-container .ui-breadcrumb{
  padding: .5em .1em;
  border-bottom: 1px solid white;
  margin: 0 16px;
  font-size: 20px;
  font-weight: normal;
  font-family: NimbusSansBecker;
}

.ui-card.ui-widget.ui-widget-content {
  background-color: var(--fundoopac);
}

.ui-state-highlight.ui-growl-message-error{
  background-color: var(--error);
}

.ui-autocomplete-panel.ui-widget-content.ui-corner-all{
  border: 1px solid var(--escuro);
  border-radius: 0px;
}