@import "~@angular/material/theming";
@include mat-core();

$primary: #0f084b;
$secondary: #78849e;
$gray: #4d575b;
$light-gray: #75848a;
$black: #191716;
$red: #520b03;
$white: #f0f8ff;
$off-white: #edeeef;
$tertiary: #4f7cac;
