@import "~@angular/material/theming";
@include mat-core();

$primary: #393e46;
$secondary: #c59000;
$gray: #505762;
$light-gray: #f7f7f7;
$black: #191716;
$red: #520b03;
$white: #f0f0f0;
$off-white: #edeeef;
$tertiary: #f8b500;
