@import "~@angular/material/theming";
@include mat-core();

$primary:#0f084b;
$secondary:#4f7cac;
$gray:#4d575b;
$light-gray:#75848a;
$black: #191716;
$red: #520B03;
$white: #F0F8FF;
$off-white: #edeeef;
$gray-blue: #78849E;
$light-blue: #bbced3;
