<h3>Listagem de {{titulo}}</h3>
<table-x [value]="list" 
        [colunas]="colunas[tipo]" 
        [loading]="loadingTable" 
        emptyMessage="Não encontrou resultados para a busca."
        scrollHeight="80vh"
        #tableComponent>

    <ng-template pTemplate="editar" let-data let-rI="rowIndex">
        <button type="button" pButton icon="fas fa-edit" title="Alterar" (click)="edita(data.id)"></button>
    </ng-template>

    <ng-template pTemplate="excluir" let-data let-index="rowIndex">
        <button type="button" pButton icon="fa fa-trash" title="Excluir" (click)="showConfirmationDelete(index)"></button>
    </ng-template>

</table-x>

<div *ngIf="deleteHospital!=null && displayDeleteHospital" class="block-back-wrap modal-type">
    <p-dialog header="Confirmar ação" [(visible)]="displayDeleteHospital" [modal]="true" [blockScroll]="true" [closeOnEscape]="true">
        <div class="dialog-message">
            Quer mesmo deletar o Hospital?
        </div>

        <div class="ui-g corpo-modal-confirmacao">
            <div class="ui-g-12">
                <label>Nome:</label>
                <label>{{deleteHospital.nome}} </label>
            </div>
        </div>

        <p-footer>
            <button class="ui-button-success" icon="fa fa-check" type="button" label="Sim" pButton (click)="delete();"></button>
            <button class="ui-button-danger" icon="fas fa-times" type="button" label="Não" pButton (click)="displayDeleteHospital=false"></button>
        </p-footer>
    </p-dialog>
</div>

<div *ngIf="deleteHospital!=null && displayDeleteHospital" class="block-back-wrap modal-type">
    <p-dialog header="Confirmar ação" [(visible)]="displayDeleteHospital" [modal]="true" [blockScroll]="true" [closeOnEscape]="true">
        <div class="dialog-message">
            Quer mesmo deletar o Hospital?
        </div>

        <div class="ui-g corpo-modal-confirmacao">
            <div class="ui-g-12">
                <label>Nome:</label>
                <label>{{deleteHospital.nome}} </label>
            </div>
        </div>

        <p-footer>
            <button class="ui-button-success" icon="fa fa-check" type="button" label="Sim" pButton (click)="delete();"></button>
            <button class="ui-button-danger" icon="fas fa-times" type="button" label="Não" pButton (click)="displayDeleteHospital=false"></button>
        </p-footer>
    </p-dialog>
</div>