<mat-accordion>
    <mat-expansion-panel [(expanded)]='expanded'>
        <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'50px'">
            <mat-panel-title>
                Turma
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid menu-secao">
            <a class="two" [routerLink]="['', { outlets: { secondRouter: ['formularioTurma'] } }]" (click)="mudarRota()">
                <mat-icon>school</mat-icon><span>Adicionar Turma</span>
            </a>
            <a class="two" [routerLink]="['', { outlets: { secondRouter: ['pesquisarTurma'] } }]" (click)="mudarRota()">
                <mat-icon>list</mat-icon><span>Pesquisar Turmas</span>
            </a>
            <a class="two" [routerLink]="['', { outlets: { secondRouter: ['cursosLivres'] } }]" (click)="mudarRota()">
                <mat-icon>class</mat-icon><span>Cursos Livres</span>
            </a>
        </div>
    </mat-expansion-panel>
</mat-accordion>
