<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Alunos
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid menu-secao">
            <a class="two" [routerLink]="['', { outlets: { secondRouter: ['formularioAluno'] } }]"><mat-icon>person_add</mat-icon><span>Adicionar Aluno</span></a>
            <a class="two">sdofksdg</a>
            <a class="two">sdofksdg</a>
            <a class="two">sdofksdg</a>
            <a class="two">sdofksdg</a>
        </div>
    </mat-expansion-panel>
</mat-accordion>
