<mat-accordion>
    <mat-expansion-panel [(expanded)]='expanded'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Turma
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-grid menu-secao">
            <a class="two" [routerLink]="['', { outlets: { secondRouter: ['formularioTurma'] } }]" (click)="expanded=false">
                <mat-icon>person_add</mat-icon><span>Adicionar Turma</span>
            </a>
            <a class="two" [routerLink]="['', { outlets: { secondRouter: ['pesquisarTurma'] } }]" (click)="expanded=false">
                <mat-icon>list</mat-icon><span>Pesquisar Turmas</span>
            </a>
        </div>
    </mat-expansion-panel>
</mat-accordion>
