<div class="tabela">
    <mat-card>
        <custom-table [columns]="columns" [listOfElements]="pageList.lista" [maxHeigth]='heigthTabela'>
            <ng-template let-element customTemplate="acoesTemplate">
                <div style="text-align: end;">
                    <button mat-icon-button color="primary"
                            matTooltip="Ficha do Aluno"
                            (click)="visualizarAluno(element)">
                        <i class="material-icons">assignment</i>
                    </button>
                    <button mat-icon-button color="primary"
                            matTooltip="Editar Aluno"
                            (click)="editarAluno(element)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button mat-icon-button color="primary"
                            matTooltip="Excluir Aluno"
                            (click)="excluirAluno(element)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </ng-template>
        </custom-table>
        <custom-paginator [pageList]="pageList" (paginacao)="paginacao($event)"></custom-paginator>

    </mat-card>
</div>
